*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(245, 245, 245);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.center{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.board{
    background-color: rgb(255, 255, 255);
    height: 565px;
    width: 1150px;
    border-radius: 30px;
    box-shadow: 5px rgb(223, 223, 223);
}
.tool-space{
    list-style-type: none;
    padding: 20px;
}
.tool{
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgb(248, 248, 248);
    border: 0;
    box-shadow: 1px 1px 5px 5px rgb(215, 215, 215);
    border-radius: 40px;
    transition: 0.1s;
}
.tool:hover{
    background-color: rgb(227, 227, 227);  
}
.tool:active{
    background-color: rgb(248, 248, 248); 
}
.tools{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content:space-around;
    bottom: 0;
    border-radius: 20px;
    align-items: center;
    transform: scaleX(0);
    transition: 1s;
    flex-flow:row;
}
.hamberger-controller{
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;
    margin: 20px;
}
.hamberger-controller span{
    display: block;
    height: 1px;
    background-color: black;
    position: relative;
    transition: all 0.1s ease-in-out;
    top: 0;
}
.hamberger-controller span:nth-child(2){
    margin-top: 7px;
}
#toggler:checked + label .hamberger-controller span:nth-child(1){
    transform: rotate(45deg);
    top: 4px;
}
#toggler:checked + label .hamberger-controller span:nth-child(2){
    transform: rotate(-45deg);
    top: -4px;
}
#toggler:checked ~ .tools{
    transform: scaleX(1);
}
#toggler{
    display: none;
}
#color-toggler{
    width: 50px;
    height: 50px;
    border-radius: 0px;
    border: 0;
    display: none;
}